.header {
  display: flex;
  background-color: #3e000c;
  border-bottom: 10px solid#FFCBDD;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}
