.section {
  background-color: #3e000c;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #ffcbdd;
}
.section .main-title {
  margin-bottom: 60px;
}
.section.-bgred {
  background-color: #962020;
}
.section .-bdfirst {
  border-color: #ffcbdd;
}
